<h1 class="header1">Tic-Tac-Toe</h1>
<h2 class="header2">Player-{{player}}</h2>
<div class="parent">
    <div class="icon-container">
        <app-icon [icon]="array[0]" (click)="onClick(0)"></app-icon>
        <app-icon [icon]="array[1]" (click)="onClick(1)"></app-icon>
        <app-icon [icon]="array[2]" (click)="onClick(2)"></app-icon>
    </div>
    <div class="icon-container">
        <app-icon [icon]="array[3]" (click)="onClick(3)"></app-icon>
        <app-icon [icon]="array[4]" (click)="onClick(4)"></app-icon>
        <app-icon [icon]="array[5]" (click)="onClick(5)"></app-icon>
    </div>
    <div class="icon-container">
        <app-icon [icon]="array[6]" (click)="onClick(6)"></app-icon>
        <app-icon [icon]="array[7]" (click)="onClick(7)"></app-icon>
        <app-icon [icon]="array[8]" (click)="onClick(8)"></app-icon>
    </div>
</div>
<div class="resetgame-container" [hidden]="hideResetDiv">
    <h1 class="header3">{{winnerMessage}}</h1>
    <button class="btn-big" (click)="resetGame()">Reset Game</button>
</div>